.mui-btn {
  margin: 5px 5px 0 0 !important;
  text-transform: capitalize;
}

.awesome-cate strong {
  padding: 10px 22px !important;
}

.alert {
  display: table;
  margin: 20px auto;
}

#readme {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 80px;
  border: 1px solid lighten(gray, 40%);
  overflow: hidden; // or auto;
  box-sizing: border-box;
  font-size: 1.2em;
}

.origin-repo-btn {
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-bottom: 2px solid lighten(gray, 40%);
  transition: all 0.5s ease;

  &:hover {
    text-decoration: none;
    color: gray;
    border-bottom: 2px solid lighten(gray, 10%);
  }

}

.search-input {
  position: fixed;
  width: 300px;
  top: 30%;
  right: 0;
  color: black;
  transform: translate(201px);
  -webkit-transform: translate(201px);
  -o-transform: translate(201px);
  -moz-transform: translate(201px);

  transition: transform .2s;
  transition: -webkit-transform .2s;

  &:hover, &.hovered{
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -o-transform: translate(0px);
    -moz-transform: translate(0px);
  }

  & .awesome-input {
    border: 0;
    padding: 10px;
    width: 200px;
    // border-radius: 3px;
    // -o-border-radius: 3px;
    // -moz-border-radius: 3px;
    // -webkit-border-radius: 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    &:focus {
       outline: 0;
      //  border: 1px solid gray;
      //  border-radius: 10px;
      //  -o-border-radius: 10px;
      //  -moz-border-radius: 10px;
      //  -webkit-border-radius: 10px;
    }
  }

  & .input-group {
    float: right;
    box-shadow: 5px 5px 5px #888888;
    border: 1px solid lighten(gray, 20%);
    & .search-icon {
      display: inline-block;
      padding: 10px 15px;
      background-color: #ff5a92;
      color: white;
    }
  }
}

.cate-input {
  border: 1px solid #eee;
  padding: 5px;
  font-size: 12px;
  line-height: normal;
  &:focus {
    outline: 0;
  }
}

.search-result {
  max-height: 300px;
  width: 300px;
  background-color: white;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.cate-search-result {
  position: absolute;
  top: 50px;
  padding: 5px;
  right: 0px;
  width: 200px;
  max-height: 300px;
  background-color: white;
  border: 1px solid #eee;
  font-size: 12px;
  line-height: normal;
  z-index: 9999;
}

.search-repo-link {
  color: blue;
  cursor: pointer;
  &:hover {
    text-decoration: hover;
  }
}

.to-top-arrow {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.mui-dropdown__menu {
  overflow-x: auto;
  max-height: 550px;
}
