/**
 * Layout CSS
 */

#header {
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
  border-bottom: 1px solid gray;

  & .mui-appbar {
    background-color: #78909C;
  }

  &:hover {
    opacity: 1;
  }
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  left: -350px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  display: block;
  height: 90%;
  margin-left: 0px;
  transition: margin-left 0.2s;
  & .readme-container {
    padding: 10px 100px 150px 100px;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  margin-left: 0px;
  transition: margin-left 0.2s;
  z-index: 99;
}

@media (min-width: 768px) {
  #header {
    left: 350px;
  }

  #sidedrawer {
    transform: translate(350px);
  }

  #content-wrapper {
    margin-left: 350px;
  }

  #footer {
    margin-left: 350px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(350px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #78909C;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}
